.we{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: chartreuse;
}
.sha{
    position: absolute;
    top: 50px;
    left: 400px;
    font-size: 20px;
    color: darkmagenta;
}
.res{
    position: absolute;
    top: 50px;
    left: 600px;
    font-size: 20px;
    color: blueviolet;
}
.abo{
    position: absolute;
    top: 50px;
    left: 760px;
    font-size: 20px;
    color: chocolate;
}
.faq{
    position: absolute;
    top: 50px;
    left: 895px;
    font-size: 20px;
    color: darkgreen;
}
.ico{
    position: absolute;
    top: 50px;
    left: 1000px;
    font-size: 20px;
    color: brown;
}
.sub{
    position: absolute;
    top: 50px;
    right: 100px;
    font-size: 20px;
    color: blue;
}
.sha1{
    position: absolute;
    top: 310px;
    left: 530px;
    font-size: 50px;
}
.creat{
    position: absolute;
    top: 400px;
    left: 450px;
    font-size: 60px;
}
.last{
    position: absolute;
    top: 500px;
    left: 390px;
    font-size: 30px;
    color: cornflowerblue;
}