*{
    margin: 0px;
}
.continer1{
    background-color: #eb5f5f;
    height: 350px;
    width: 100vw;
}
#img1{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 22px;
    left: 8px;
    border-radius: 20px;
}
#img9{
    position: absolute;
    height: 300px;
    width: 400px;
    top: 20px;
    left: 700px;
}
.ram{
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 20px;
}
.did{
    position: absolute;
    top: 45px;
    left: 50px;
    font-size: 10px;
}
.hom{
    position: absolute;
    top: 25px;
    right: 200px;
}
#img2{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 22px;
    right: 140px;
    border-radius: 20px;
}
#img3{
    position: absolute;
    height: 55px;
    width: 55px;
    top: 17px;
    right: 75px;   
}
#img4{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 25px;
    right: 30px;
}
.fre{
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 25px;
}
.unl{
    position: absolute;
    top: 180px;
    left: 100px;
    font-size: 15px;
}
.reser{
    position: absolute;
    top: 220px;
    left: 100px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
}



#img5{
    position: absolute;
    height: 250px;
    width: 250px;
    left: 590px;
}
.hi{
    position: absolute;
    top: 400px;
    left: 800px;
    font-size: 20px;
}
.med{
    position: absolute;
    top: 460px;
    left: 840px;
}
.exp{
    position: absolute;
    top: 510px;
    left: 843px;
}
.you{
    position: absolute;
    top: 620px;
    left: 700px;
    font-size: 20px;
}
.one{
    position: absolute;
    top: 650px;
    left: 100px;
    color: cornflowerblue;
    font-size: 150px;
}
.two{
    position: absolute;
    top: 650px;
    left: 700px;
    color: yellowgreen;
    font-size: 150px; 
}
.thre{
    position: absolute;
    top: 650px;
    right: 100px;
    color: blueviolet;
    font-size: 150px;
}
.wit1{
    position: absolute;
    top: 740px;
    left: 140px;
    font-size: 13px;
}
.wit2{
    position: absolute;
    top: 740px;
    left: 740px;
    font-size: 13px;
}
.wit3{
    position: absolute;
    top: 740px;
    left: 1350px;
    font-size: 13px;
}
.spot{
    position: absolute;
    top: 880px;
    left: 730px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
}


.continer3{
    background-color: black;
    position: absolute;
    height: 60vh;
    width: 50vw;
    top: 950px;
}
.sign1{
    position: absolute;
    color: white;
    top: 60px;
    left: 250px;
    font-size: 20px;
}
.sign2{
    position: absolute;
    color: white;
    top: 90px;
    left: 300px;
    font-size: 20px;
}
.ent{
    position: absolute;
    color: white;
    top: 160px;
    left: 290px;
    border: 2px solid #eb5f5f;
    padding: 10px;
}
.sent{
    position: absolute;
    color: black;
    top: 220px;
    left: 350px;
    border: 2px solid #eb5f5f;
    padding: 5px;
    border-radius: 15px;
    background-color: #eb5f5f;
}
.terry1{
    position: absolute;
    color: white;
    top: 280px;
    left: 300px;
    font-size: 15px;
}
.terry2{
    position: absolute;
    color: white;
    top: 300px;
    left: 290px;
    font-size: 15px;
}
.ramesh{
    position: absolute;
    color: white;
    top: 340px;
    left: 240px;
    font-size: 20px;
}
#img6{
    position: absolute;
    color: white;
    height: 50px;
    width: 50px;
    top: 400px;
    left: 270px; 
}
#img7{
    position: absolute;
    height: 70px;
    width: 70px;
    top: 390px;
    left: 350px;
}
#img8{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 400px;
    left: 450px;
    border-radius: 30px;
}


.continer4{
    background-color: #eb5f5f;
    position: absolute;
    height: 60vh;
    width: 50vw;
    top: 950px;
    right: 0px;
}
.yes1{
    position: absolute;
    top: 80px;
    left: 230px;
    font-size: 20px;
}
.yes2{
    position: absolute;
    top: 110px;
    left: 320px;
    font-size: 20px;
}
.my{
    position: absolute;
    top: 180px;
    left: 300px;
    border: 2px solid black;
    padding: 8px;
    border-radius: 20px;
}
#img10{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 160px;
    left: 480px;
    border-radius: 150px;
}